[submodule "iro"]
	path = iro
	url = https://github.com/e-sushi/iro
[submodule "lake"]
	path = lake
	url = https://github.com/e-sushi/lake
[submodule "LuaJIT"]
	path = luajit/src
	url = https://github.com/LuaJIT/LuaJIT
	shallow = true
[submodule "lpp"]
	path = lpp
	url = https://github.com/e-sushi/lpp
[submodule "lppclang"]
	path = lppclang
	url = https://github.com/e-sushi/lppclang
[submodule "notcurses/src"]
	path = notcurses/src
	url = https://github.com/dankamongmen/notcurses
    shallow = true
[submodule "ecs"]
	path = ecs
	url = https://github.com/agudbrand/ecs
[submodule "llvm/src"]
	path = llvm/src
	url = https://github.com/agudbrand/llvm-project
